{"AWSTemplateFormatVersion":"2010-09-09","Parameters":{"Password":{"NoEcho":"true","Type":"String","Description":"New account password","MinLength":"1","MaxLength":"41","Default":"CymVUXcJetTwk3fA4FtYF","ConstraintDescription":"the password must be between 1 and 41 characters"}},"Resources":{"child":{"Type":"AWS::CloudFormation::Stack","Properties":{"TemplateURL":"https://s3.amazonaws.com/dearing/nested_child.template","TimeoutInMinutes":"10","Parameters":{"Password":{"Ref":"Password"}}}}},"Outputs":{"StackRef":{"Value":{"Ref":"child"}},"AccessKey":{"Value":{"Fn::GetAtt":["child","Outputs.AccessKey"]}},"SecretKey":{"Value":{"Fn::GetAtt":["child","Outputs.SecretKey"]}}}}